body{
  position: absolute;
  width: 550px;
  height: 868px;
  left: 373px;
  top: 110px;
  
  background: #23252C;
}


.header-info {
position: absolute;
width: 317px;
height: 399px;
left: 116px;
top: 361px;

background: #1A1B21;
}
.info-h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  
  color: #FFFFFF;
  
}
.header-info > h4 {  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  
  color: #F3BF99;
  
}


.info-img{
position: absolute;
width: 317px;
height: 317px;
left: 117px;
top: 35px;

background-image: url("./images/Rectangle\ 90.png");
border-radius: 10px 10px 0px 0px;
}
.header-info > h5 {

  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */
  
  text-align: center;
  
  color: #F5F5F5;
  
}
.header-info > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  flex-wrap: wrap;
}
.header-info  > div > button{
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;

  
}
.info-btn2 {
  background-color: #5093E2;
}
.container-2{
 
  align-items: center;
  width: auto;
  height: 201px;
  left: 152px;
  top: 535px;
  
}

.about-context > h1 {
  margin: 0px;
  border: 1px ;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  
  
  color: #F5F5F5;
}

.about-context > p {
  margin: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
}

.footer-container {
  position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 760px;

background: #161619;
border-radius: 0px 0px 10px 10px;
}